<%
	local protocol = "http://"
%>
<script type="text/javascript">
//<![CDATA[
(function() {
	function runningStatus(ok) {
		return ok
			? "<span style='color:green;'> 运行中</span>"
			: "<span style='color:red;'> 未运行</span>";
	}

	function metric(label, value, color, prefix) {
		if (value === undefined || value === null || value === "") {
			return "";
		}
		return (prefix || "") + label + "<span style='color:" + (color || "#333") + ";'>" + value + "</span>";
	}

	function buildCliLine(data) {
		var html = "<em><b>vnt2_cli" + runningStatus(data.cli_running);

		if (data.cli_running) {
			html += metric(" 已运行：", data.cli_runtime, "#DA70D6");
			html += metric("<br>CPU占用：", data.cli_cpu, "#6A5ACD");
			html += metric("&nbsp;&nbsp;&nbsp;&nbsp;内存占用：", data.cli_ram, "#0000CD");
			html += metric("<br>当前版本：", data.cli_tag, "#CD853F");
			html += metric("&nbsp;&nbsp;&nbsp;&nbsp;最新版本：", data.latest_tag, "#FFA500");
		}

		html += "</b></em>";
		return html;
	}

	function buildWebButton(data) {
		if (!data.web_running || !data.web_port) {
			return "";
		}

		var webHost = data.web_host || window.location.hostname;
		if (webHost === "0.0.0.0" || webHost === "::") {
			webHost = window.location.hostname;
		}

		return "&nbsp;&nbsp;&nbsp;<input class=\"cbi-button cbi-button-reload mar-10\" type=\"button\" value=\"打开 VNT2 Web 界面\" onclick=\"window.open('<%=protocol%>" +
			webHost + ":" + data.web_port + "/')\"/>";
	}

	function buildWebLine(data) {
		var html = "<em><b>vnt2_web" + runningStatus(data.web_running);

		if (data.web_running) {
			html += metric(" 已运行：", data.web_runtime, "#DA70D6");
			html += metric("<br>CPU占用：", data.web_cpu, "#6A5ACD");
			html += metric("&nbsp;&nbsp;&nbsp;&nbsp;内存占用：", data.web_ram, "#0000CD");
			html += metric("<br>当前版本：", data.web_tag, "#CD853F");
			html += metric("&nbsp;&nbsp;&nbsp;&nbsp;最新版本：", data.latest_tag, "#FFA500");
			html += buildWebButton(data);
		}

		html += "</b></em>";
		return html;
	}

	XHR.poll(3, '<%=url([[admin]], [[vpn]], [[vnt2]], [[status]])%>', null, function(x, data) {
		var st = document.getElementById("vnt2_status");
		if (!st) {
			return;
		}

		if (!data) {
			st.innerHTML = "<em><%:Collecting data...%></em>";
			return;
		}

		st.innerHTML = buildCliLine(data) + "<br><br>" + buildWebLine(data);
	});
})();
//]]>
</script>

<fieldset class="cbi-section">
	<p id="vnt2_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
