<div class="cbi-section">
	<h3><%:上傳程序%></h3>
	<div class="cbi-section-node">
		<form method="post" action="<%=luci.http.write_luci_url(luci.dispatcher.context.requestpath)%>" enctype="multipart/form-data">
			<input type="hidden" name="upload" value="1" />
			<div class="cbi-value">
				<label class="cbi-value-title"><%:選擇文件%></label>
				<div class="cbi-value-field">
					<input type="file" name="ulfile" size="40" />
				</div>
			</div>
			<div class="cbi-value">
				<div class="cbi-value-field">
					<input class="cbi-button cbi-button-apply" type="submit" value="<%:上傳%>" />
				</div>
			</div>
		</form>
	</div>
</div>
