<%
	protocol="http://"
%>
<script type="text//javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[vpn]], [[vnt2]], [[status]])%>', null,
    function(x, data) {
        var st = document.getElementById('vnt2_status');
        if (data && st) {
            var clientStatus = data.crunning ? "<span style='color:green;'> 运行中</span>" : "<span style='color:red;'> 未运行</span>";
            var vnt2staContent = data.crunning ? "已运行：" + "<span style='color:#DA70D6;'>" + data.vnt2sta + "</span>" : "";    
            var vnt2cpuContent = data.crunning ? "<br>" + "CPU占用：" + "<span style='color:#6A5ACD;'>" + data.vnt2cpu + "</span>" : "";  
            var vnt2ramContent = data.crunning ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + "&nbsp;&nbsp;&nbsp;&nbsp;内存占用：" + "<span style='color:#00BFFF;'>" + data.vnt2ram + "</span>" : ""; 
            var vnttagContent = data.crunning ? "<br>" + "当前版本：" + "<span style='color:#CD853F;'>" + data.vnt2tag + "</span>" : ""; 
            var vnt2newtagContent = data.crunning ? "&nbsp;&nbsp;&nbsp;&nbsp;" + "&nbsp;&nbsp;&nbsp;最新版本：" + "<span style='color:#FFA500;'>" + data.vnt2newtag + "</span>" : "";    
            st.innerHTML = "<em><b>vnt2_cli " + clientStatus + vnt2staContent + vnt2cpuContent + vnt2ramContent + vnttagContent + vnt2newtagContent + "</b></em>";          
        }
    }
);
//]]>
</script>
<fieldset class="cbi-section">
    <p id="vnt2_status">
        <em><%:Collecting data...%></em>
    </p>
</fieldset>
