<div class="cbi-section">
	<h3><%:所有設備信息%></h3>
	<div id="vnt2_all_container">
		<p><%:加載中...%></p>
	</div>
</div>

<script type="text/javascript">
function loadVnt2All() {
	XHR.get('<%=url([[admin]], [[vpn]], [[vnt2]], [[vnt2_all]])%>', null,
		function(x, data) {
			var container = document.getElementById('vnt2_all_container');
			if (data && data.all) {
				container.innerHTML = data.all;
			} else {
				container.innerHTML = '<p style="color:red;"><%:無法獲取設備信息%></p>';
			}
		}
	);
}

setTimeout(loadVnt2All, 500);
XHR.poll(5, '<%=url([[admin]], [[vpn]], [[vnt2]], [[vnt2_all]])%>', null,
	function(x, data) {
		var container = document.getElementById('vnt2_all_container');
		if (data && data.all) {
			container.innerHTML = data.all;
		}
	}
);
</script>
